# Data Analysis of Data Analysts

Project 1

In [1]:
# Dependencies and Setup
# import os
import csv
import pandas as pd
# from pathlib import Path
# from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
# from scipy.stats import sem
from scipy.stats import linregress
# import scipy.stats as st
import numpy as np
import requests
import json
from config import acct_id
from config import api_key

In [35]:
city_state = {
    'City': ["Seattle","Olympia","Arlington","Richmond","Trenton","Newark",
             "San Jose","San Francisco","New York City","Ithaca","Charlotte","Durham", 
             "Lexington Park","Baltimore","Honolulu","Providence","Sioux Falls"],
    'State': ["WA","WA","VA","VA","NJ","NJ","CA","CA","NY",
              "NY","NC","NC","MD","MD","HI","RI","SD"]}


dataframe_1 = pd.DataFrame(city_state)
dataframe_1[['Estimated Analysts - State', 'Median Salary - City']] = ""

dataframe_1

              City State Estimated Analysts - State Median Salary - City
0          Seattle    WA
1          Olympia    WA
2        Arlington    VA
3         Richmond    VA
4          Trenton    NJ
5           Newark    NJ
6         San Jose    CA
7    San Francisco    CA
8    New York City    NY
9           Ithaca    NY
10       Charlotte    NC
11          Durham    NC
12  Lexington Park    MD
13       Baltimore    MD
14        Honolulu    HI
15      Providence    RI
16     Sioux Falls    SD

In [36]:
# Use the city API request but alter the city and state based on the dataframe
# This allows us to search national, state, and city data all from the same call

base_url = city_url = f"https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/"
params = "?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false"
headers = {"Authorization": f"Bearer {api_key}"}

In [37]:
for index, row in dataframe_1.iterrows():
    # Get the city and state
    city = dataframe_1.loc[index, "City"]
    state = dataframe_1.loc[index, "State"]
    # Add the current City type to the parameters
    api_url =  f"{base_url}{city}%2C%20{state}{params}"
    
    response_1 = requests.get(api_url, headers = headers).json()
    results = response_1['OccupationDetail'][0]['Wages']['BLSAreaWagesList']
    try:
        projected_jobs = response_1['OccupationDetail'][0]['Projections']['Projections'][0]['EstimatedEmployment']
        dataframe_1.loc[index, 'Estimated Analysts - State'] = projected_jobs
        
        median_salary = [x['Median'] for x in results if x['RateType']=='Annual' ][0] 
        dataframe_1.loc[index, 'Median Salary - City'] = median_salary    

    except (KeyError, IndexError):
        dataframe_1.loc[index, 'Median Salary - City'] = "Didnt find anything"
        dataframe_1.loc[index, 'Estimated Analysts - State'] = "Didnt find anything"

dataframe_1

              City State Estimated Analysts - State Median Salary - City
0          Seattle    WA                      2,700               140560
1          Olympia    WA                      2,700               137750
2        Arlington    VA                      2,550               124570
3         Richmond    VA                      2,550               120000
4          Trenton    NJ                      1,820               131660
5           Newark    NJ                      1,820               130070
6         San Jose    CA                     18,400               172110
7    San Francisco    CA                     18,400               137680
8    New York City    NY                      3,500               130070
9           Ithaca    NY                      3,500               110760
10       Charlotte    NC                        540               134190
11          Durham    NC                        540               124960
12  Lexington Park    MD                      2,330               101760
13       Baltimore    MD                      2,330               122470
14        Honolulu    HI                         50               112330
15      Providence    RI                        260               109240
16     Sioux Falls    SD                         60               108310

In [ ]:
#state info

In [ ]:
# heat map city, state, analysts

In [ ]:
# in regress scatter plots

In [ ]:
#merge the 2 dataframes