# Data Analysis of Data Analysts

Project 1

In [12]:
# Dependencies and Setup
import os
import csv
import pandas as pd
from pathlib import Path
from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
from scipy.stats import sem
from scipy.stats import linregress
import scipy.stats as st
import numpy as np
import requests
import json
from config import acct_id
from config import api_key 

# Import the API key
# from census import Census
# from config import geoapify_key

# File to Load (Remember to Change These)
#  = Path("../Resources/schools_complete.csv")
#  = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
#  = pd.read_csv(school_data_to_load)
#  = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.

In [13]:

api_url = f'''https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/Los%20Angeles%2CCA?training=false
&interest=false&videos=false&tasks=false&dwas=false&wages=true
&alternateOnetTitles=false&projectedEmployment=false&ooh=false
&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false
&ability=false&trainingPrograms=false'''

headers = {"Authorization": f"Bearer {api_key}"}
response = requests.get(api_url, headers=headers).json()
response

# response["OccupationDetail"][0]["Wages"]["NationalWagesList"][0]["Median"]

response["OccupationDetail"][0]["Wages"]

{'NationalWagesList': [{'RateType': 'Annual',
   'Pct10': '58510',
   'Pct25': '77140',
   'Median': '103500',
   'Pct75': '136600',
   'Pct90': '174790',
   'StFips': '00',
   'Area': '000000',
   'AreaName': 'United States'},
  {'RateType': 'Hourly',
   'Pct10': '28.13',
   'Pct25': '37.09',
   'Median': '49.76',
   'Pct75': '65.68',
   'Pct90': '84.03',
   'StFips': '00',
   'Area': '000000',
   'AreaName': 'United States'}],
 'StateWagesList': [{'RateType': 'Annual',
   'Pct10': '63920',
   'Pct25': '85010',
   'Median': '126810',
   'Pct75': '170890',
   'Pct90': '230780',
   'StFips': '06',
   'Area': '000006',
   'AreaName': 'California'},
  {'RateType': 'Hourly',
   'Pct10': '30.73',
   'Pct25': '40.87',
   'Median': '60.97',
   'Pct75': '82.16',
   'Pct90': '110.95',
   'StFips': '06',
   'Area': '000006',
   'AreaName': 'California'}],
 'BLSAreaWagesList': [{'RateType': 'Hourly',
   'Pct10': '30.13',
   'Pct25': '36.25',
   'Median': '49.73',
   'Pct75': '71.15',
   'Pct90': '92.03',
   'StFips': '06',
   'Area': '031080',
   'AreaName': 'Los Angeles-Long Beach-Anaheim, CA Metro Area'},
  {'RateType': 'Annual',
   'Pct10': '62660',
   'Pct25': '75400',
   'Median': '103430',
   'Pct75': '147990',
   'Pct90': '191410',
   'StFips': '06',
   'Area': '031080',
   'AreaName': 'Los Angeles-Long Beach-Anaheim, CA Metro Area'}],
 'WageYear': '2022',
 'SocData': 'Yes',
 'SocWageInfo': {'SocCode': '152051',
  'SocTitle': 'Data Scientists',
  'SocDescription': None}}

In [14]:
states = ["AL","AK","AZ","AR","CA","CO","CT","DE","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA",
          "ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","RI","SC","SD",
         "TN","TX","UT","VT","VA","WA","WV","WI","WY"]


states_df = pd.DataFrame(states)
states_df[["Estimated Jobs","Projected Jobs","Median Salary (State)","Median Salary (National)","Median Salary (City)"]] = ""
states_df = states_df.rename(columns={0:"State"})
states_df

,State,Estimated Jobs,Projected Jobs,Median Salary (State),Median Salary (National),Median Salary (City)
0,AL,,,,,
1,AK,,,,,
2,AZ,,,,,
3,AR,,,,,
4,CA,,,,,
5,CO,,,,,
6,CT,,,,,
7,DE,,,,,
8,FL,,,,,
9,GA,,,,,
10,HI,,,,,
11,ID,,,,,
12,IL,,,,,
13,IN,,,,,
14,IA,,,,,
15,KS,,,,,
16,KY,,,,,
17,LA,,,,,
18,ME,,,,,
19,MD,,,,,
20,MA,,,,,
21,MI,,,,,
22,MN,,,,,
23,MS,,,,,
24,MO,,,,,
25,MT,,,,,
26,NE,,,,,
27,NV,,,,,
28,NH,,,,,
29,NJ,,,,,
30,NM,,,,,
31,NY,,,,,
32,NC,,,,,
33,ND,,,,,
34,OH,,,,,
35,OK,,,,,
36,OR,,,,,
37,PA,,,,,
38,RI,,,,,
39,SC,,,,,
40,SD,,,,,
41,TN,,,,,
42,TX,,,,,
43,UT,,,,,
44,VT,,,,,
45,VA,,,,,
46,WA,,,,,
47,WV,,,,,
48,WI,,,,,
49,WY,,,,,

In [31]:
# api_url = f'''https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/Los%20Angeles%2CCA?training=false
# &interest=false&videos=false&tasks=false&dwas=false&wages=true
# &alternateOnetTitles=false&projectedEmployment=false&ooh=false
# &stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false
# &ability=false&trainingPrograms=false'''

# headers = {"Authorization": f"Bearer {api_key}"}
base_url = "https://api.careeronestop.org/v1/occupation" 
training ="false"
interest ="false"
videos = "false"
tasks = "false"
dwas ="false"
wages = "true"
alternateOnetTitles = "false"
projectedEmployment = "true"
ooh ="false"
stateLMILinks = "false"
relatedOnetTitles ="false"
skills ="false"
knowledge ="false"
ability = "false"
trainingPrograms ="false"
params = {"training":training,
         "interest":interest,
         "videos":videos,
         "tasks":tasks,
         "dwas":dwas,
         "wages":wages,
         "alternateOnetTitles":alternateOnetTitles,
         "projectedEmployment":projectedEmployment,
         "ooh":ooh,
         "stateLMILinks":stateLMILinks,
         "relatedOnetTitles":relatedOnetTitles,
         "skills":skills,
         "knowledge":knowledge,
         "ability":ability,
         "trainingPrograms":trainingPrograms}
counter = 1


for index, row in states_df.iterrows():

    state = states_df.loc[index,"State"]
    api_url_2 = f"{base_url}/{acct_id}/Data%20Scientists/{state}?{params}"
    response_2= requests.get(api_url_2,headers=headers,params=params).json()
    
  
    try:
        states_df.loc[index,"Projected Jobs"] = response_2["OccupationDetail"][0]["Projections"]["Projections"][0]["ProjectedEmployment"]
        states_df.loc[index,"Median Salary (National)"] = response_2["OccupationDetail"][0]["Wages"]["NationalWagesList"][0]["Median"]
        states_df.loc[index,"Estimated Jobs"] = response_2["OccupationDetail"][0]["Projections"]["Projections"][0]["EstimatedEmployment"]
        states_df.loc[index,"Median Salary (State)"] = response_2["OccupationDetail"][0]["Wages"]["StateWagesList"][0]["Median"]
        print(f"Retrieving Data for {state}: {counter}/50")
        counter = counter +1
        if response_2["OccupationDetail"][0]["Projections"]["Projections"][0]["EstimatedEmployment"] == "168,900":
            states_df.loc[index,"Estimated Jobs"] = "N/A"
            states_df.loc[index,"Projected Jobs"] = "N/A"
 
    except: 

        states_df.loc[index,"Median Salary (State)"] = "N/A"
        
        print(f"Information Unavailable for {state}")
        counter = counter+1
        if response_2["OccupationDetail"][0]["Projections"]["Projections"][0]["EstimatedEmployment"] == "168,900":
            states_df.loc[index,"Estimated Jobs"] = "N/A"
            states_df.loc[index,"Projected Jobs"] = "N/A"


states_df

Retrieving Data for AL: 1/50
Retrieving Data for AK: 2/50
Retrieving Data for AZ: 3/50
Information Unavailable for AR
Retrieving Data for CA: 5/50
Retrieving Data for CO: 6/50
Retrieving Data for CT: 7/50
Retrieving Data for DE: 8/50
Retrieving Data for FL: 9/50
Retrieving Data for GA: 10/50
Retrieving Data for HI: 11/50
Retrieving Data for ID: 12/50
Retrieving Data for IL: 13/50
Retrieving Data for IN: 14/50
Retrieving Data for IA: 15/50
Retrieving Data for KS: 16/50
Retrieving Data for KY: 17/50
Retrieving Data for LA: 18/50
Retrieving Data for ME: 19/50
Retrieving Data for MD: 20/50
Retrieving Data for MA: 21/50
Retrieving Data for MI: 22/50
Retrieving Data for MN: 23/50
Retrieving Data for MS: 24/50
Retrieving Data for MO: 25/50
Retrieving Data for MT: 26/50
Retrieving Data for NE: 27/50
Retrieving Data for NV: 28/50
Retrieving Data for NH: 29/50
Retrieving Data for NJ: 30/50
Retrieving Data for NM: 31/50
Retrieving Data for NY: 32/50
Retrieving Data for NC: 33/50
Retrieving Data for ND: 34/50
Retrieving Data for OH: 35/50
Retrieving Data for OK: 36/50
Retrieving Data for OR: 37/50
Retrieving Data for PA: 38/50
Retrieving Data for RI: 39/50
Retrieving Data for SC: 40/50
Retrieving Data for SD: 41/50
Retrieving Data for TN: 42/50
Retrieving Data for TX: 43/50
Retrieving Data for UT: 44/50
Information Unavailable for VT
Retrieving Data for VA: 46/50
Retrieving Data for WA: 47/50
Retrieving Data for WV: 48/50
Retrieving Data for WI: 49/50
Retrieving Data for WY: 50/50

,State,Estimated Jobs,Projected Jobs,Median Salary (State),Median Salary (National),Median Salary (City)
0,AL,220,280,41.29,103500,
1,AK,90,90,100040,103500,
2,AZ,"1,440","2,170",102770,103500,
3,AR,N/A,N/A,N/A,103500,
4,CA,"18,400","26,700",126810,103500,
5,CO,740,900,49.62,103500,
6,CT,860,"1,100",50.82,103500,
7,DE,N/A,N/A,63.61,103500,
8,FL,"2,550","3,900",48.33,103500,
9,GA,"2,250","3,030",48.27,103500,
10,HI,50,60,54.01,103500,
11,ID,0,0,96490,103500,
12,IL,"3,370","4,340",103730,103500,
13,IN,"1,120","1,470",75970,103500,
14,IA,940,"1,380",45.61,103500,
15,KS,340,460,88860,103500,
16,KY,"1,710","2,170",39.42,103500,
17,LA,80,110,65410,103500,
18,ME,290,360,46.01,103500,
19,MD,"2,330","3,050",56.6,103500,
20,MA,"2,880","4,340",51,103500,
21,MI,"1,970","2,550",41.09,103500,
22,MN,960,"1,210",106920,103500,
23,MS,70,70,56950,103500,
24,MO,"1,020","1,290",78780,103500,
25,MT,N/A,N/A,36.16,103500,
26,NE,400,520,40.62,103500,
27,NV,160,220,82110,103500,
28,NH,140,180,77620,103500,
29,NJ,"1,820","2,360",62.12,103500,
30,NM,N/A,N/A,37.88,103500,
31,NY,"3,500","4,990",59.63,103500,
32,NC,540,700,121970,103500,
33,ND,N/A,N/A,91050,103500,
34,OH,"2,490","3,150",42.77,103500,
35,OK,950,"1,200",79720,103500,
36,OR,760,"1,050",102530,103500,
37,PA,340,410,43.91,103500,
38,RI,260,350,52.52,103500,
39,SC,120,150,99370,103500,
40,SD,60,80,108310,103500,
41,TN,280,380,94690,103500,
42,TX,"4,110","6,150",47.76,103500,
43,UT,"1,880","3,060",81250,103500,
44,VT,30,50,N/A,103500,
45,VA,"2,550","3,270",132400,103500,
46,WA,"2,700","3,660",65.31,103500,
47,WV,150,200,32.21,103500,
48,WI,790,"1,000",45.87,103500,
49,WY,N/A,N/A,139970,103500,

In [37]:
states_df.replace('N/A', np.nan, inplace=True)
states_df.dropna(inplace=True)
states_df.reset_index(inplace=True,drop=True)
states_df

,State,Estimated Jobs,Projected Jobs,Median Salary (State),Median Salary (National),Median Salary (City)
0,AL,220,280,41.29,103500,
1,AK,90,90,100040,103500,
2,AZ,"1,440","2,170",102770,103500,
3,CA,"18,400","26,700",126810,103500,
4,CO,740,900,49.62,103500,
5,CT,860,"1,100",50.82,103500,
6,FL,"2,550","3,900",48.33,103500,
7,GA,"2,250","3,030",48.27,103500,
8,HI,50,60,54.01,103500,
9,ID,0,0,96490,103500,
10,IL,"3,370","4,340",103730,103500,
11,IN,"1,120","1,470",75970,103500,
12,IA,940,"1,380",45.61,103500,
13,KS,340,460,88860,103500,
14,KY,"1,710","2,170",39.42,103500,
15,LA,80,110,65410,103500,
16,ME,290,360,46.01,103500,
17,MD,"2,330","3,050",56.6,103500,
18,MA,"2,880","4,340",51,103500,
19,MI,"1,970","2,550",41.09,103500,
20,MN,960,"1,210",106920,103500,
21,MS,70,70,56950,103500,
22,MO,"1,020","1,290",78780,103500,
23,NE,400,520,40.62,103500,
24,NV,160,220,82110,103500,
25,NH,140,180,77620,103500,
26,NJ,"1,820","2,360",62.12,103500,
27,NY,"3,500","4,990",59.63,103500,
28,NC,540,700,121970,103500,
29,OH,"2,490","3,150",42.77,103500,
30,OK,950,"1,200",79720,103500,
31,OR,760,"1,050",102530,103500,
32,PA,340,410,43.91,103500,
33,RI,260,350,52.52,103500,
34,SC,120,150,99370,103500,
35,SD,60,80,108310,103500,
36,TN,280,380,94690,103500,
37,TX,"4,110","6,150",47.76,103500,
38,UT,"1,880","3,060",81250,103500,
39,VA,"2,550","3,270",132400,103500,
40,WA,"2,700","3,660",65.31,103500,
41,WV,150,200,32.21,103500,
42,WI,790,"1,000",45.87,103500,

In [38]:
# DROPPED STATES:
# AR
# DE
# MT
# NM
# ND
# VT
# WY

In [50]:
# def annual_pay_calculator (hourly_wage):
#     annual_pay =(pay*40)*52
#     return annual_pay

for index, row in states_df.iterrows():
    pay = float(states_df.loc[index,"Median Salary (State)"])
    if pay < 100:
        annual_pay =(pay*40)*52
        states_df.loc[index,"Median Salary (State)"] = annual_pay
        
states_df

,State,Estimated Jobs,Projected Jobs,Median Salary (State),Median Salary (National),Median Salary (City)
0,AL,220,280,85883.2,103500,
1,AK,90,90,100040,103500,
2,AZ,"1,440","2,170",102770,103500,
3,CA,"18,400","26,700",126810,103500,
4,CO,740,900,103209.6,103500,
5,CT,860,"1,100",105705.6,103500,
6,FL,"2,550","3,900",100526.4,103500,
7,GA,"2,250","3,030",100401.6,103500,
8,HI,50,60,112340.8,103500,
9,ID,0,0,96490,103500,
10,IL,"3,370","4,340",103730,103500,
11,IN,"1,120","1,470",75970,103500,
12,IA,940,"1,380",94868.8,103500,
13,KS,340,460,88860,103500,
14,KY,"1,710","2,170",81993.6,103500,
15,LA,80,110,65410,103500,
16,ME,290,360,95700.8,103500,
17,MD,"2,330","3,050",117728.0,103500,
18,MA,"2,880","4,340",106080.0,103500,
19,MI,"1,970","2,550",85467.2,103500,
20,MN,960,"1,210",106920,103500,
21,MS,70,70,56950,103500,
22,MO,"1,020","1,290",78780,103500,
23,NE,400,520,84489.6,103500,
24,NV,160,220,82110,103500,
25,NH,140,180,77620,103500,
26,NJ,"1,820","2,360",129209.6,103500,
27,NY,"3,500","4,990",124030.4,103500,
28,NC,540,700,121970,103500,
29,OH,"2,490","3,150",88961.6,103500,
30,OK,950,"1,200",79720,103500,
31,OR,760,"1,050",102530,103500,
32,PA,340,410,91332.8,103500,
33,RI,260,350,109241.6,103500,
34,SC,120,150,99370,103500,
35,SD,60,80,108310,103500,
36,TN,280,380,94690,103500,
37,TX,"4,110","6,150",99340.8,103500,
38,UT,"1,880","3,060",81250,103500,
39,VA,"2,550","3,270",132400,103500,
40,WA,"2,700","3,660",135844.8,103500,
41,WV,150,200,66996.8,103500,
42,WI,790,"1,000",95409.6,103500,