# Data Analysis of Data Analysts

Project 1

In [1]:
# Dependencies and Setup
# import os
import csv
import pandas as pd
# from pathlib import Path
# from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
# from scipy.stats import sem
from scipy.stats import linregress
# import scipy.stats as st
import numpy as np
import requests
import json
from config import acct_id
from config import api_key

In [2]:
city_state = {
    'City': ["San Francisco", "San Jose", "Seattle", "New York City", "Boston", "Austin"],
    'State': ["CA", "CA", "WA", "NY", "MA", "TX"]}
    
dataframe_1 = pd.DataFrame(city_state)
dataframe_1[['# of Analysts - City', 'Median Salary - City']] = ""

dataframe_1

            City State # of Analysts - City Median Salary - City
0  San Francisco    CA
1       San Jose    CA
2        Seattle    WA
3  New York City    NY
4         Boston    MA
5         Austin    TX

In [ ]:
# for state in states:
#     api_url = base_url + show
#     response = requests.get(target_url).json()
#     titles.append(response[0]['show']['name'])
#     ratings.append(response[0]['show']['rating']['average'])

In [3]:
api_url = f'''https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/0?training=false
&interest=false&videos=false&tasks=false&dwas=false&wages=true
&alternateOnetTitles=false&projectedEmployment=false&ooh=false
&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false
&ability=false&trainingPrograms=false'''

headers = {"Authorization": f"Bearer {api_key}"}
nat_response = requests.get(api_url, headers=headers).json()
# response

# print(json.dumps(nat_response, indent=4, sort_keys=True))

In [4]:
nat_median_salary = nat_response["OccupationDetail"][0]["Wages"]["NationalWagesList"][0]["Median"]
nat_median_salary

'103500'

In [5]:
state_url = (f'https://api.careeronestop.org/v1/occupation/{acct_id}/'
             'Data%20Scientists/WA?training=false&interest=true&videos=false'
             '&tasks=false&dwas=false&wages=true&alternateOnetTitles=false'
             '&projectedEmployment=false&ooh=false&stateLMILinks=false'
             '&relatedOnetTitles=false&skills=false&knowledge=false'
             '&ability=false&trainingPrograms=false')

headers = {"Authorization": f"Bearer {api_key}"}
state_response = requests.get(state_url, headers = headers).json()
# state_response

# print(json.dumps(state_response, indent=4, sort_keys=True))

In [6]:
state_median_salary = state_response["OccupationDetail"][0]["Wages"]["StateWagesList"][1]["Median"]

state_median_salary

'135850'

In [7]:
# city_url = (f'https://api.careeronestop.org/v1/occupation/{acct_id}/'
#             'Data%20Scientists/Seattle%2C%20WA?training=false'
#             '&interest=true&videos=false&tasks=false&dwas=false'
#             '&wages=true&alternateOnetTitles=false&projectedEmployment=false'
#             '&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false'
#             '&knowledge=false&ability=false&trainingPrograms=false')
city_url = f"https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/Seattle%2C%20WA?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=false&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false"

headers = {"Authorization": f"Bearer {api_key}"}
city_response = requests.get(city_url, headers = headers).json()
city_response

city_median_salary = city_response["OccupationDetail"][0]['Wages']['BLSAreaWagesList'][1]["Median"]

city_median_salary

'140560'

In [36]:
# Use the city API request but alter the city and state based on the dataframe
# This allows us to search national, state, and city data all from the same call

base_url = city_url = f"https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/"
params = "?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=false&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false"
headers = {"Authorization": f"Bearer {api_key}"}

In [35]:
# for index, row in dataframe_1.iterrows():
#     # Get the city and state
#     city = dataframe_1.loc[index, "City"]
#     state = dataframe_1.loc[index, "State"]
#     # Add the current City type to the parameters
#     api_url =  f"{base_url}{city}%2C%20{state}{params}"
    
#     response_1 = requests.get(api_url, headers = headers).json()
# #     api_url
#     print(json.dumps(response_1, indent=4, sort_keys=True))

In [34]:
for index, row in dataframe_1.iterrows():
    # Get the city and state
    city = dataframe_1.loc[index, "City"]
    state = dataframe_1.loc[index, "State"]
    # Add the current City type to the parameters
    api_url =  f"{base_url}{city}%2C%20{state}{params}"
    
    response_1 = requests.get(api_url, headers = headers).json()
#     api_url
#     print(json.dumps(response_1, indent=4, sort_keys=True))
    try:
        median_salary = response_1['OccupationDetail'][0]['Wages']['BLSAreaWagesList'][0]['Median']
#     dataframe_1.loc[index, 'Median Salary - City'] = response_1['OccupationDetail'][0]['Wages']['BLSAreaWagesList'][1]['Median']    
        dataframe_1.loc[index, 'Median Salary - City'] = median_salary    
    
    except (KeyError, IndexError):
        dataframe_1.loc[index, 'Median Salary - City'] = "Didnt find anything"

#     print(f"{dataframe_1.loc[index, 'Median Salary - City']}")
dataframe_1.head()

            City State # of Analysts - City Median Salary - City
0  San Francisco    CA                                    137680
1       San Jose    CA                                    172110
2        Seattle    WA                                     67.58
3  New York City    NY                                     62.54
4         Boston    MA                                    106670

In [ ]:
# Parse info
# National 
# nat_median_salary = nat_response["OccupationDetail"][0]["Wages"]["NationalWagesList"][0]["Median"]

# State
# state_median_salary = state_response["OccupationDetail"][0]["Wages"]["StateWagesList"][1]["Median"]

# City
# city_median_salary = city_response['OccupationDetail'][0]['Wages']['BLSAreaWagesList'][1]['Median']