# Data Analysis of Data Analysts

Project 1

In [1]:
# Dependencies and Setup
# import os
import csv
import pandas as pd
# from pathlib import Path
# from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
# from scipy.stats import sem
from scipy.stats import linregress
# import scipy.stats as st
import numpy as np
import requests
import json
from config import acct_id
from config import api_key

In [2]:
city_state = {
    'City': ["San Francisco", "San Jose", "Seattle", "New York City", "Boston", "Austin"],
    'State': ["CA", "CA", "WA", "NY", "MA", "TX"]}
    
city_df = pd.DataFrame(city_state)
city_df[['# of Analysts - City', 'Median Salary - City']] = ""

city_df

            City State # of Analysts - City Median Salary - City
0  San Francisco    CA
1       San Jose    CA
2        Seattle    WA
3  New York City    NY
4         Boston    MA
5         Austin    TX

In [ ]:
# for state in states:
#     api_url = base_url + show
#     response = requests.get(target_url).json()
#     titles.append(response[0]['show']['name'])
#     ratings.append(response[0]['show']['rating']['average'])

In [11]:
api_url = f'''https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/0?training=false
&interest=false&videos=false&tasks=false&dwas=false&wages=true
&alternateOnetTitles=false&projectedEmployment=false&ooh=false
&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false
&ability=false&trainingPrograms=false'''

headers = {"Authorization": f"Bearer {api_key}"}
nat_response = requests.get(api_url, headers=headers).json()
# response

# print(json.dumps(nat_response, indent=4, sort_keys=True))

In [10]:
nat_median_salary = nat_response["OccupationDetail"][0]["Wages"]["NationalWagesList"][0]["Median"]
nat_median_salary

'103500'

In [12]:
state_url = (f'https://api.careeronestop.org/v1/occupation/{acct_id}/'
             'Data%20Scientists/WA?training=false&interest=true&videos=false'
             '&tasks=false&dwas=false&wages=true&alternateOnetTitles=false'
             '&projectedEmployment=false&ooh=false&stateLMILinks=false'
             '&relatedOnetTitles=false&skills=false&knowledge=false'
             '&ability=false&trainingPrograms=false')

headers = {"Authorization": f"Bearer {api_key}"}
state_response = requests.get(state_url, headers = headers).json()
# state_response

# print(json.dumps(state_response, indent=4, sort_keys=True))

In [13]:
state_median_salary = state_response["OccupationDetail"][0]["Wages"]["StateWagesList"][1]["Median"]

state_median_salary

'135850'

In [51]:
# city_url = (f'https://api.careeronestop.org/v1/occupation/{acct_id}/'
#             'Data%20Scientists/Seattle%2C%20WA?training=false'
#             '&interest=true&videos=false&tasks=false&dwas=false'
#             '&wages=true&alternateOnetTitles=false&projectedEmployment=false'
#             '&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false'
#             '&knowledge=false&ability=false&trainingPrograms=false')
city_url = f"https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/Seattle%2C%20WA?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=false&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false"

headers = {"Authorization": f"Bearer {api_key}"}
city_response = requests.get(city_url, headers = headers).json()
city_response

city_median_salary = city_response["OccupationDetail"][0]['Wages']['BLSAreaWagesList'][1]["Median"]

city_median_salary

'140560'

In [ ]:
# cities = ["San Francisco", "San Jose"]
# states = ["CA"]
# api_urls = []

# #for state in states:
# for city in cities:
#     api_url = f"{base_url}/{job}/{city},%20{states}{params}"
#     api_urls.append(api_url)

# for api_url in api_urls:
#     print(api_urls)
#     city_response = requests.get(api_url, headers=headers).json()
# #response

# print(json.dumps(city_response, indent=4, sort_keys=True))
# # len(api_urls)
# # request = requests.get(api_urls).json()
# # add in the iterrows to help out