# Data Analysis of Data Analysts

Project 1

In [1]:
# Dependencies and Setup
# import os
import csv
import pandas as pd
# from pathlib import Path
# from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
# from scipy.stats import sem
from scipy.stats import linregress
# import scipy.stats as st
import numpy as np
import requests
import json
from config import acct_id
from config import api_key

In [13]:
city_state = {
    'City': ["San Francisco", "San Jose", "Oakland", "Fremont","Los Angeles",
             "Seattle", "Chandler", "Scottsdale", "Pittsburgh", "Austin"],
    'State': ["CA", "CA", "CA", "CA", "CA", "WA", "AZ", "AZ", "PA", "TX"]}
    #     'City': ["Atlanta", "Austin", "San Francisco", "New York City", "San Diego", "Boston", "Portland",
#             "Seattle", "Los Angeles", "Chicago", "Denver", "Dallas"],
#     'State': ["GA", "TX", "CA", "NY", "CA", "MA", "OR", "WA", "CA", "IL", "CO", "TX"]}
    
dataframe_1 = pd.DataFrame(city_state)
dataframe_1[['# of Analysts - City', 'Median Salary - City']] = ""

dataframe_1

            City State # of Analysts - City Median Salary - City
0  San Francisco    CA
1       San Jose    CA
2        Oakland    CA
3        Fremont    CA
4    Los Angeles    CA
5        Seattle    WA
6       Chandler    AZ
7     Scottsdale    AZ
8     Pittsburgh    PA
9         Austin    TX

In [14]:
# api_url = f'''https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/0?training=false
# &interest=false&videos=false&tasks=false&dwas=false&wages=true
# &alternateOnetTitles=false&projectedEmployment=false&ooh=false
# &stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false
# &ability=false&trainingPrograms=false'''

# api_test_url = f'https://api.careeronestop.org/v1/occupation/BG1T6wpGrqRyfds/Data%20Scientists/Austin%2C%20TX?training=false&interest=false&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false'

# headers = {"Authorization": f"Bearer {api_key}"}
# response = requests.get(api_test_url, headers=headers).json()
# # response

# print(json.dumps(response, indent=4, sort_keys=True))

{
    "AutoCorrection": "",
    "DidYouMean": "",
    "OccupationDetail": [
        {
            "AlternateTitles": null,
            "BrightOutlook": "Bright",
            "BrightOutlookCategory": "Rapid Growth",
            "COSVideoURL": "https://www.careeronestop.org/Videos/careeronestop-videos.aspx?videocode=15205100&op=y",
            "Green": "No",
            "Location": "TX",
            "OnetCode": "15-2051.00",
            "OnetDescription": "Develop and implement a set of techniques or analytics applications to transform raw data into meaningful information using data-oriented programming languages and visualization software. Apply data mining, data modeling, natural language processing, and machine learning to extract and analyze information from large structured and unstructured datasets. Visualize, interpret, and report data findings. May create dynamic data reports.",
            "OnetTitle": "Data Scientists",
            "Projections": {
                "EstimatedYear": "2022",
                "OccupationTitle": "Data Scientists",
                "ProjectedYear": "2032",
                "Projections": [
                    {
                        "EstimatedEmployment": "4,110",
                        "EstimatedYear": "2020",
                        "PerCentChange": "50",
                        "ProjectedAnnualJobOpening": "560",
                        "ProjectedEmployment": "6,150",
                        "ProjectedYear": "2030",
                        "StateName": "Texas",
                        "Stfips": "48"
                    },
                    {
                        "EstimatedEmployment": "168,900",
                        "EstimatedYear": "2022",
                        "PerCentChange": "35",
                        "ProjectedAnnualJobOpening": "17700",
                        "ProjectedEmployment": "228,200",
                        "ProjectedYear": "2032",
                        "StateName": "United States",
                        "Stfips": "00"
                    }
                ]
            },
            "RelatedOnetTitles": null,
            "SocInfo": {
                "SocCode": "152051",
                "SocDescription": "Develop and implement a set of techniques or analytics applications to transform raw data into meaningful information using data-oriented programming languages and visualization software. Apply data mining, data modeling, natural language processing, and machine learning to extract and analyze information from large structured and unstructured datasets. Visualize, interpret, and report data findings. May create dynamic data reports.",
                "SocTitle": "Data Scientists"
            },
            "StFips": "48",
            "TrainingPrograms": null,
            "Wages": {
                "BLSAreaWagesList": [
                    {
                        "Area": "012420",
                        "AreaName": "Austin-Round Rock, TX Metro Area",
                        "Median": "105350",
                        "Pct10": "58060",
                        "Pct25": "79350",
                        "Pct75": "138280",
                        "Pct90": "169640",
                        "RateType": "Annual",
                        "StFips": "48"
                    },
                    {
                        "Area": "012420",
                        "AreaName": "Austin-Round Rock, TX Metro Area",
                        "Median": "50.65",
                        "Pct10": "27.92",
                        "Pct25": "38.15",
                        "Pct75": "66.48",
                        "Pct90": "81.56",
                        "RateType": "Hourly",
                        "StFips": "48"
                    }
                ],
                "NationalWagesList": [
                    {
                        "Area": "000000",
                        "AreaName": "United States",
                        "Median": "103500",
                        "Pct10": "58510",
                        "Pct25": "77140",
                        "Pct75": "136600",
                        "Pct90": "174790",
                        "RateType": "Annual",
                        "StFips": "00"
                    },
                    {
                        "Area": "000000",
                        "AreaName": "United States",
                        "Median": "49.76",
                        "Pct10": "28.13",
                        "Pct25": "37.09",
                        "Pct75": "65.68",
                        "Pct90": "84.03",
                        "RateType": "Hourly",
                        "StFips": "00"
                    }
                ],
                "SocData": "Yes",
                "SocWageInfo": {
                    "SocCode": "152051",
                    "SocDescription": null,
                    "SocTitle": "Data Scientists"
                },
                "StateWagesList": [
                    {
                        "Area": "000048",
                        "AreaName": "Texas",
                        "Median": "47.76",
                        "Pct10": "22.6",
                        "Pct25": "32.66",
                        "Pct75": "62.39",
                        "Pct90": "78.95",
                        "RateType": "Hourly",
                        "StFips": "48"
                    },
                    {
                        "Area": "000048",
                        "AreaName": "Texas",
                        "Median": "99350",
                        "Pct10": "47010",
                        "Pct25": "67940",
                        "Pct75": "129780",
                        "Pct90": "164210",
                        "RateType": "Annual",
                        "StFips": "48"
                    }
                ],
                "WageYear": "2022"
            }
        }
    ],
    "RecordCount": 1
}

In [4]:
# projected_jobs = response["OccupationDetail"][0]['Projections']['Projections'][0]['ProjectedEmployment']
# projected_jobs

'6,150'

In [15]:
# Use the city API request but alter the city and state based on the dataframe
# This allows us to search national, state, and city data all from the same call

base_url = city_url = f"https://api.careeronestop.org/v1/occupation/{acct_id}/Data%20Scientists/"
params = "?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false"
headers = {"Authorization": f"Bearer {api_key}"}

In [7]:
# results = response_1['OccupationDetail'][0]['Wages']['BLSAreaWagesList']
# [x['Median'] for x in results if x['RateType']=='Annual' ][0]

In [8]:
# for x in results:
#     if(x['RateType']=='Annual'):
#         print(x['Median'])

In [9]:
# for index, row in dataframe_1.iterrows():
#     # Get the city and state
#     city = dataframe_1.loc[index, "City"]
#     state = dataframe_1.loc[index, "State"]
#     # Add the current City type to the parameters
#     api_url =  f"{base_url}{city}%2C%20{state}{params}"
    
#     response_1 = requests.get(api_url, headers = headers).json()

#     print(json.dumps(response_1, indent=4, sort_keys=True))

In [16]:
for index, row in dataframe_1.iterrows():
    # Get the city and state
    city = dataframe_1.loc[index, "City"]
    state = dataframe_1.loc[index, "State"]
    # Add the current City type to the parameters
    api_url =  f"{base_url}{city}%2C%20{state}{params}"
    
    response_1 = requests.get(api_url, headers = headers).json()
    results = response_1['OccupationDetail'][0]['Wages']['BLSAreaWagesList']
#     results_2 = response["OccupationDetail"][0]['Projections']['Projections'][0]['ProjectedEmployment']

    try:
#         should we use estimated employment OR projected employment?
        projected_jobs = response_1["OccupationDetail"][0]['Projections']['Projections'][0]['EstimatedEmployment']
        dataframe_1.loc[index, '# of Analysts - City'] = projected_jobs
        
#         help from tutor
        median_salary = [x['Median'] for x in results if x['RateType']=='Annual' ][0] 
        dataframe_1.loc[index, 'Median Salary - City'] = median_salary    

    except (KeyError, IndexError):
        dataframe_1.loc[index, 'Median Salary - City'] = "Didnt find anything"
        dataframe_1.loc[index, '# of Analysts - City'] = "Didnt find anything"

dataframe_1

            City State # of Analysts - City Median Salary - City
0  San Francisco    CA               18,400               137680
1       San Jose    CA               18,400               172110
2        Oakland    CA               18,400               137680
3        Fremont    CA               18,400               137680
4    Los Angeles    CA               18,400               103430
5        Seattle    WA                2,700               140560
6       Chandler    AZ                1,440               103890
7     Scottsdale    AZ                1,440               103890
8     Pittsburgh    PA                  340                80810
9         Austin    TX                4,110               105350

In [ ]:
#merge the 2 dataframes and use that for the heat map

In [17]:
# Replace 'YOUR_API_KEY' with your actual Geoapify API key
geoapify_key = '971e447deaa74d2d905fa87ac840a92f'

# Texas as an example
state_name = 'Texas'

# Build the endpoint URL for Texas
texas_url = f"https://api.geoapify.com/v1/geocode/autocomplete?text={state_name}&format=json&apiKey={geoapify_key}"

# Run a request to the endpoint and convert the result to JSON
response = requests.get(texas_url)

# Print the JSON (pretty printed)
print(json.dumps(response.json(), indent=4, sort_keys=True))

{
    "query": {
        "parsed": {
            "expected_type": "unknown",
            "state": "texas"
        },
        "text": "Texas"
    },
    "results": [
        {
            "address_line1": "Texas",
            "address_line2": "United States of America",
            "bbox": {
                "lat1": 25.83706,
                "lat2": 36.5004529,
                "lon1": -106.6458459,
                "lon2": -93.5078217
            },
            "category": "administrative",
            "country": "United States",
            "country_code": "us",
            "datasource": {
                "attribution": "\u00a9 OpenStreetMap contributors",
                "license": "Open Database License",
                "sourcename": "openstreetmap",
                "url": "https://www.openstreetmap.org/copyright"
            },
            "formatted": "Texas, United States of America",
            "lat": 31.2638905,
            "lon": -98.5456116,
            "place_id": "515e94ea4ceba258c0599f39eb538e433f40f00101f90102c0010000000000c0020a",
            "plus_code": "86337F73+HQ",
            "rank": {
                "confidence": 1,
                "importance": 0.7580521395340576,
                "match_type": "full_match"
            },
            "result_type": "state",
            "state": "Texas",
            "state_code": "TX",
            "timezone": {
                "abbreviation_DST": "CDT",
                "abbreviation_STD": "CST",
                "name": "America/Chicago",
                "offset_DST": "-05:00",
                "offset_DST_seconds": -18000,
                "offset_STD": "-06:00",
                "offset_STD_seconds": -21600
            }
        },
        {
            "address_line1": "Texas City, TX",
            "address_line2": "United States of America",
            "bbox": {
                "lat1": 29.300965,
                "lat2": 29.566376,
                "lon1": -95.0788828,
                "lon2": -94.714285
            },
            "category": "administrative",
            "city": "Texas City",
            "country": "United States",
            "country_code": "us",
            "county": "Galveston County",
            "datasource": {
                "attribution": "\u00a9 OpenStreetMap contributors",
                "license": "Open Database License",
                "sourcename": "openstreetmap",
                "url": "https://www.openstreetmap.org/copyright"
            },
            "formatted": "Texas City, TX, United States of America",
            "lat": 29.396013,
            "lon": -94.9175485,
            "place_id": "519bff571db9ba57c05975caa31b61653d40f00101f901c981640000000000c00208",
            "plus_code": "76X793WJ+CX",
            "plus_code_short": "WJ+CX Texas City, Galveston County, United States",
            "rank": {
                "confidence": 1,
                "confidence_city_level": 1,
                "importance": 0.46234373085466024,
                "match_type": "full_match"
            },
            "result_type": "city",
            "state": "Texas",
            "state_code": "TX",
            "timezone": {
                "abbreviation_DST": "CDT",
                "abbreviation_STD": "CST",
                "name": "America/Chicago",
                "offset_DST": "-05:00",
                "offset_DST_seconds": -18000,
                "offset_STD": "-06:00",
                "offset_STD_seconds": -21600
            }
        },
        {
            "address_line1": "Texas Charter Township, MI",
            "address_line2": "United States of America",
            "bbox": {
                "lat1": 42.1572317,
                "lat2": 42.2453569,
                "lon1": -85.7660265,
                "lon2": -85.6477389
            },
            "category": "administrative",
            "city": "Texas Charter Township",
            "country": "United States",
            "country_code": "us",
            "county": "Kalamazoo County",
            "datasource": {
                "attribution": "\u00a9 OpenStreetMap contributors",
                "license": "Open Database License",
                "sourcename": "openstreetmap",
                "url": "https://www.openstreetmap.org/copyright"
            },
            "formatted": "Texas Charter Township, MI, United States of America",
            "lat": 42.204890000000006,
            "lon": -85.70674180948643,
            "name": "Texas Charter Township",
            "place_id": "51729dff413b6d55c05984a3e4d5391a4540f00101f90131e99a0000000000c002089203165465786173204368617274657220546f776e73686970",
            "plus_code": "86JP673V+X8",
            "rank": {
                "confidence": 1,
                "confidence_city_level": 1,
                "importance": 0.4413401147643534,
                "match_type": "full_match"
            },
            "result_type": "city",
            "state": "Michigan",
            "state_code": "MI",
            "timezone": {
                "abbreviation_DST": "EDT",
                "abbreviation_STD": "EST",
                "name": "America/Detroit",
                "offset_DST": "-04:00",
                "offset_DST_seconds": -14400,
                "offset_STD": "-05:00",
                "offset_STD_seconds": -18000
            }
        },
        {
            "address_line1": "Texas",
            "address_line2": "Texas, Texas, AL, United States of America",
            "bbox": {
                "lat1": 33.909827,
                "lat2": 33.949827,
                "lon1": -87.6986301,
                "lon2": -87.6586301
            },
            "category": "populated_place",
            "city": "Texas",
            "country": "United States",
            "country_code": "us",
            "county": "Marion County",
            "datasource": {
                "attribution": "\u00a9 OpenStreetMap contributors",
                "license": "Open Database License",
                "sourcename": "openstreetmap",
                "url": "https://www.openstreetmap.org/copyright"
            },
            "formatted": "Texas, Texas, AL, United States of America",
            "hamlet": "Texas",
            "lat": 33.929827,
            "lon": -87.6786301,
            "name": "Texas",
            "place_id": "513365f1ac6eeb55c0590af8359204f74040f00103f901d7bc290900000000c002059203055465786173",
            "plus_code": "865JW8HC+WG",
            "postcode": "35554",
            "rank": {
                "confidence": 1,
                "confidence_city_level": 1,
                "importance": 0.25000999999999995,
                "match_type": "full_match"
            },
            "result_type": "suburb",
            "state": "Alabama",
            "state_code": "AL",
            "suburb": "Texas",
            "timezone": {
                "abbreviation_DST": "CDT",
                "abbreviation_STD": "CST",
                "name": "America/Chicago",
                "offset_DST": "-05:00",
                "offset_DST_seconds": -18000,
                "offset_STD": "-06:00",
                "offset_STD_seconds": -21600
            }
        },
        {
            "address_line1": "Texas",
            "address_line2": "Monroe Township, NJ, United States of America",
            "bbox": {
                "lat1": 40.3406638,
                "lat2": 40.3806638,
                "lon1": -74.3893157,
                "lon2": -74.3493157
            },
            "category": "populated_place",
            "city": "Monroe Township",
            "country": "United States",
            "country_code": "us",
            "county": "Middlesex County",
            "datasource": {
                "attribution": "\u00a9 OpenStreetMap contributors",
                "license": "Open Database License",
                "sourcename": "openstreetmap",
                "url": "https://www.openstreetmap.org/copyright"
            },
            "formatted": "Texas, Monroe Township, NJ, United States of America",
            "hamlet": "Texas",
            "lat": 40.3606638,
            "lon": -74.3693157,
            "name": "Texas",
            "place_id": "518f5951dea29752c059f0ec3c3b2a2e4440f00103f9019ae4770900000000c002059203055465786173",
            "plus_code": "87G79J6J+77",
            "postcode": "08884",
            "rank": {
                "confidence": 1,
                "confidence_city_level": 1,
                "importance": 0.321743055077702,
                "match_type": "full_match"
            },
            "result_type": "suburb",
            "state": "New Jersey",
            "state_code": "NJ",
            "suburb": "Texas",
            "timezone": {
                "abbreviation_DST": "EDT",
                "abbreviation_STD": "EST",
                "name": "America/New_York",
                "offset_DST": "-04:00",
                "offset_DST_seconds": -14400,
                "offset_STD": "-05:00",
                "offset_STD_seconds": -18000
            }
        }
    ]
}